@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

* {
	margin: 0;
	padding: 0;
}


#from {
	text-align: center;
	margin-left: 8px;
	padding: 2px;
	margin-bottom: 10px;
}

#to {
    margin-left: 8px;
	text-align: center;
	padding: 2px;
}

h1, h2 {
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	color: white;
}

h1 {
	font-size: 28px;
	margin-top: 30px;
}

h2 {
	font-size: 18px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 27px;
	border-radius: 3px;
	background-color: #ccc;
	width: 90px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	transform: scale(1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#header_container {
	margin-top: 0;
}

#news_container {
	padding: 30px;
	width: 65%;
    margin: 0 auto;
}

p {
	margin-bottom: 15px;
	margin: auto;
    text-align: left;
}

.errorSection {
	text-align: center;
    color: white;
    font-size: 20px;
}

.explanation {
	width: 50%;
	margin-bottom: 8px;
}

a {
	font-size: 16px;
	font-weight: bold;
	transform: scale(1);
}

body, html{
	background-color: #4a4a4a;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 7px;
}

.arrowClass{
	 transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   }

   .arrow{
	 transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   }
  .arrowClass:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  	transition: box-shadow 0.3s ease-in-out;
	}	

.Search:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  	transition: box-shadow 0.3s ease-in-out;
	}

.image img {
	display: block;
	height: inherit;
	width: 100%;
}


@media only screen and (min-width: 320px) {
	h1, h2 {
		margin-left: 0px;
	}
	#to, #from {
		display: block;
		padding: 2px;
	}
	#Form {
	display: inline-block;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 43%;
	margin-bottom: 20px;
	color: white;
	}
	.Search {
		margin-top: 5px;
	}
	html {
		min-width: 695px;
	}
	#news_container {
		width: 75%;
	}
	.Search {
	margin-left: -11px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	background-color: #ccc;
	width: 70px;
	border: none;
	margin-top: 10px;
	}
}



@media only screen and (min-width: 414px) {
	#header_container {
	margin-top: 0;
	margin: 1 -5%;
	width: 100%;
	}	
}

@media only screen and (min-width: 640px) {
	h1, h2 {
		margin-left: 0px;
	}
	#to, #from {
		display: block;
		padding: 2px;
	}
	#Form {
	display: inline-block;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 32%;
	margin-bottom: 20px;
	color: white;
	}
	.Search {
		margin-top: 5px;
		border: none;
		margin-left: -5px;
		margin-top: 10px;
	}
	#news_container {
		width: 100%;
	}
}


@media only screen and (min-width: 768px) {
	#Form {
	display: inline-block;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 310px;
	width: 20%;
	margin-bottom: 20px;
	color: white;
	}
	.content {
		width: 80%;
	}
	.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	background-color: #ccc;
	width: 70px;
	border: none;
	margin-top: 10px;
	}
	#header_container {
	margin-top: 0;
	margin: 0%;
	width: 100%;
	}
}

@media only screen and (min-width: 1024px) {
	#Form {
	display: inline-block;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 40px;
	margin-left: 440px;
	width: 12%;
	margin-bottom: 20px;
	color: white;
	}
	.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	background-color: #ccc;
	width: 70px;
	border: none;
	margin-top: 10px;
	}
	
}

@media only screen and (min-width: 1280px) {

	#Form {
		margin: 0 auto;
    	display: block;
    	width: 10%;
    	margin-top: 40px;
	}
	#Form {
	display: inline-block;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-left: 390px;
	margin-bottom: 20px;
	margin: 0 auto;
    display: block;
    width: 10%;
    margin-top: 40px;
	color: white;
	}

	.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	background-color: #ccc;
	width: 70px;
	border: none;
	margin-top: 10px;
	}	

}


