@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

* {
	margin: 0;
	padding: 0;
}

#Form {
	display: inline-block;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 390px;
	margin-bottom: 20px;
}

#from {
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
}

#to {
    margin-left: 5px;
	text-align: center;
}

h1, h2 {
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	padding: 2px;
}

div {
	background-color: #D3D3D3;
}

#header_container {
	margin-top: 0;
}

#news_container {
	background-color: #D3D3D3;
	padding: 30px;
}

p {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

a {
	font-size: 24px;
	font-weight: bold;
}

body{
	background-color: #D3D3D3;
}

@media only screen and (max-width: 640px) {
	h1, h2 {
		margin-left: 40px;
	}
	#to, #from {
		display: block;
	}
	#Form {
		margin-left: 140px;
	}
	.Search {
		margin-top: 5px;
	}
}

@media only screen and (max-width: 320px) {
	h1, h2 {
		margin-left: 40px;
	}
	#to, #from {
		display: block;
	}
	#Form {
		margin-left: 110px;
	}
	.Search {
		margin-top: 5px;
	}
}

@media only screen and (min-width: 768px) {
	#Form {
		margin-left: 110px;
	}
}

@media only screen and (min-width: 1024px) {
	#Form {
		margin-left: 220px;
	}
}

@media only screen and (min-width: 1280px) {

	#Form {
		margin-left: 390px;
	}
}


