@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

* {
	margin: 0;
	padding: 0;
}

#Form {
	display: inline-block;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 390px;
	margin-bottom: 20px;
}

#from {
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}

#to {
    margin-left: 8px;
	text-align: center;
}

h1, h2 {
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

.Search {
	margin-left: 5px;
	font-size: 14px;
	height: 25px;
	border-radius: 3px;
	background-color: #ccc;
	width: 70px;
}

#header_container {
	margin-top: 0;
}

#news_container {
	padding: 30px;
	width: 65%;
    margin: 0 auto;
}

p {
	margin-bottom: 15px;
	font-size: 16px;
    margin: auto;
    text-align: left;
}

.explanation {
	width: 50%;
}

a {
	font-size: 16px;
	font-weight: bold;
}

body{
	background-color: #b5b5b5;
}

@media only screen and (max-width: 640px) {
	h1, h2 {
		margin-left: 40px;
	}
	#to, #from {
		display: block;
	}
	#Form {
		margin-left: 150px;
	}
	.Search {
		margin-top: 5px;
	}
	#news_container {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
	h1, h2 {
		margin-left: 40px;
	}
	#to, #from {
		display: block;
	}
	#Form {
		margin-left: 280px;
	}
	.Search {
		margin-top: 5px;
	}
	html {
		min-width: 695px;
	}
	#news_container {
		width: 75%;
	}
}

@media only screen and (min-width: 768px) {
	#Form {
		margin-left: 110px;
	}
	.content {
		width: 80%;
	}
}

@media only screen and (min-width: 1024px) {
	#Form {
		margin-left: 220px;
	}
	
}

@media only screen and (min-width: 1280px) {

	#Form {
		margin: 0 auto;
    	display: block;
	}

}


